<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Edit</title>
</head>
<body>
    
<h1>Edit</h1>

<%= form_with model: @todo, local: true  do |form| %>

<div class="field">
 <table>
<tr>
   <td> <%= form.label :description %> </td>
   <td> <%=form.text_area :description %></td>
</tr>
<tr>
   <td> <%= form.label :completed %> </td>
   <td> <%=form.check_box :completed %></td>
</tr>
 

 </table>

 </div>



<div class="actions">
    <%= form.submit %>
</div>
<% end %>
    
</body>
</html>